.agentSummary {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.item {
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
}

.itemText {
  display: flex;
  flex-direction: column;
}

.itemText span:last-child {
  font-size: 0.5em;
  opacity: 0.5;
}
