@import "tailwindcss";

@theme {
  --color-primary: #8affec;
  --color-secondary: #f79009;
  --color-background: #09122c;
}

@font-face {
  font-family: "Stormfaze";
  src: url("./assets/fonts/Stormfaze.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Stormfaze", Arial, sans-serif;
  font-weight: 400;
}

body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: normal;
  min-height: 100dvh;
}

main {
  padding: 2rem 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2rrem 3rrem 0 3rrem;
  display: flex;
  column-gap: 2rrem 32px;
}
